<div class="sidebar">
  <h2 class="logo">MyFinance</h2>
  <hr>
  
  <nav>
    <button routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
    <button routerLink="/history" routerLinkActive="active">Historie transakcí</button>
    <button routerLink="/categories" routerLinkActive="active">Kategorie</button>
    <button routerLink="/goals" routerLinkActive="active">Cíle</button>
    <button routerLink="/analytics" routerLinkActive="active">Analýza</button>
    <button routerLink="/profile" routerLinkActive="active">Můj profil</button>
    <button routerLink="/import-export" routerLinkActive="active">Import/Export</button>
    <button routerLink="/settings" routerLinkActive="active">Nastavení</button>
  </nav>
</div>