<div class="sidebar">
  <h2 class="logo">MyFinance</h2>
  <hr>
  
  <nav>
    <button routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
    <button routerLink="/history" routerLinkActive="active">Historie transakcí</button>
    <button routerLink="/categories" routerLinkActive="active">Kategorie</button>
    <button routerLink="/goals">Cíle</button>
    <button routerLink="/analytics">Analýza</button>
    <button routerLink="/profile">Můj profil</button>
    <button routerLink="/import-export">Import/Export</button>
    <button routerLink="/settings">Nastavení</button>
  </nav>
</div>