.sidebar {
  width: 250px;
  background-color: var(--bg-sidebar);
  height: 100%;
  padding: 20px;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

.logo {
  color: var(--text-main);
  margin-bottom: 20px;
}

button {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  padding: 11px 12px;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--text-muted);
  border-color: var(--border-color);
}

button:hover {
  background-color: rgba(255,255,255, 0.08);
  color: var(--text-main);
  border-color: #666;
}


hr {
  border: 0;
  border-bottom: 1px solid var(--border-color);
  margin: 24px 0;
}