<header class="top-bar">
  <h1>Moje Cíle</h1>
  <div class="actions">
    <button class="btn-secondary" (click)="openCategoryModal()">+ Přidat kategorii</button>
    <button class="btn-secondary" (click)="openGoalModal()">+ Přidat cíl</button>
  </div>
</header>

<div class="goals-container">

  <div class="category-group" *ngFor="let kategorie of kategorieCilu">
    
    <div class="category-header">
      <span>{{ kategorie.nazev }}</span>
      <div class="category-actions">
        <button class="delete-category-btn" (click)="deleteCategory(kategorie.nazev)" title="Smazat kategorii" [disabled]="isDeleting">
          <i class="material-symbols-rounded">delete</i>
        </button>
        <span class="material-icons icon">expand_less</span>
      </div>
    </div>

    <div class="goal-row" *ngFor="let cil of kategorie.cile">
      
      <div class="goal-main">
        <i class="material-icons icon">{{ cil.ikona }}</i>
        <span class="goal-name">{{ cil.nazev }}</span>
      </div>

      <div class="status-container">
        <span class="status-badge" [class.achieved]="getProcento(cil.nasetreno, cil.cil) >= 100" [class.unachieved]="getProcento(cil.nasetreno, cil.cil) < 100">
          {{ getProcento(cil.nasetreno, cil.cil) >= 100 ? 'Dosaženo' : 'Nedosaženo' }}
        </span>
      </div>

      <div class="progress-section">
        <span class="percentage">{{ getProcento(cil.nasetreno, cil.cil) }}%</span>
        
        <div class="progress-bar-bg">
          <div class="progress-bar-fill" 
               [style.width.%]="getProcento(cil.nasetreno, cil.cil)">
          </div>
        </div>
        
        <span class="percentage">100%</span>
      </div>

      <div class="goal-stats">
        <div>Splněno: {{ getProcento(cil.nasetreno, cil.cil) }}%</div>
        <div>Našetřeno: {{ cil.nasetreno }} CZK</div>
        <div>Cílová částka: {{ cil.cil }} CZK</div>
      </div>

      <div class="row-actions">
        <button class="edit-btn" (click)="editGoal(cil)">
          Upravit
        </button>

        <button class="delete-btn" (click)="deleteGoal(cil)">
          Smazat
        </button>
      </div>

    </div>
  </div>

</div>